body {
  background-color: #112D4E;
  color: #F9F7F7;
  font-family: Arial, sans-serif;
  font-size: 110%;
}

a {
  text-decoration: none;
  color: #DBE2EF;
}

a:hover {
  text-decoration: underline;
}

td {
  padding: 5px;
}
